.single-tour {
  width: 400px;
  box-shadow: 1px 1px 10px grey;
  margin-top: 20px;
  overflow: hidden;
  border-radius: 5px;
  background-color: #fff;
}
.single-tour img {
  width: 100%;
  transition: all 1s;
}
img:hover {
  transform: scale(1.1);
}
.tour-price {
  color: aqua;
}
.tour-info {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}
.tour-price {
  background-color: rgba(0, 255, 255, 0.494);
  color: rgb(0, 140, 255);
  padding: 2px 5px;
  border-radius: 3px;
}
.info-text {
  padding: 0px 20px;
  font-size: 12px;
  color: grey;
  margin-bottom: 30px;
}
.info-text button {
  display: block;
  margin-left: auto;
  font-size: 10px;
  background-color: transparent;
  border: 1px solid rgba(0, 255, 255, 0.494);
  padding: 2px 5px;
  border-radius: 5px;
  margin-bottom: 10px;
  color: rgba(0, 255, 255, 0.494);
  transition: all 0.5s;
  font-weight: bold;
}
.info-text button:hover {
  background-color: rgba(0, 255, 255, 0.494);
  color: #fff;
}
.delete-btn {
  display: block;
  margin: auto;
  background-color: transparent;
  border: 1px solid pink;
  padding: 5px 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  color: pink;
  transition: all 0.5s;
  font-weight: bold;
}
.delete-btn:hover {
  color: #fff;
  background-color: rgb(242, 107, 185);
}
.tour-image {
  overflow: hidden;
}
